body {

}

h1 {
	font-family: "Happy Monkey", cursive;
	color: red;
	text-align: center;
	text-decoration: underline;
	font-size: 50px;

}

form {
	text-align: center;
	
}

#inputArea{
	font-size: 30px;
	border: 1px solid blue;
}

#shopList {
	max-width: 75%;
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	border: 1px solid blue;
}

li {
	list-style-type: none;
}